<!-- <?php
		include_once('D:\Programas\Xammp\htdocs\Atom\BD_Transporte\Controladores\Controlador_Cliente.php');
		$controlador = new Controlador_Cliente();
				if(isset($_POST['enviar'])){
						$resultado = $controlador->crear($controlador->generarID(), $_POST['cedula'],
												 $_POST['nombre1'], $_POST['nombre2'], $_POST['apellido1'],
												 $_POST['apellido2'], $_POST['edad'], $_POST['sexo'], $_POST['telefono'],
												 $_POST['correo'], $_POST['clave']);
				}
 ?> -->
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="Servicio de transporte para viajes escolares, empresariales o familiares">
    <meta name="author" content="Jhonatan (modificado por Jhon Cano)">

	<title>Express Wind</title>

	<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="css/Style.css">
    <link href='https://fonts.googleapis.com/css?family=Rancho' rel='stylesheet' type='text/css'>

    <script src="js/jquery.js"></script>
	<script src="js/bootstrap.min.js"></script>


</head>


<body background="img/04.jpg">
	<div class="container main">
		<header>
            <img id="img-header" src="img/10.png" alt=""><h1>Express Trick</h1>
        </header>

        <nav class="navbar navbar-inverse">
        	<div class="container-fluid">
        		<div class="navbar-header">
	        		<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
					    <span class="icon-bar"></span>
					    <span class="icon-bar"></span>
					    <span class="icon-bar"></span>
				    </button>
				    <a class="navbar-brand" href="Index.php"><span class="glyphicon glyphicon-road"></span></a>
			    </div>
			    <div class="collapse navbar-collapse" id="myNavbar">
					<ul class="nav navbar-nav">
						<li class="active"><a href="Index.php">Inicio</a></li>
						<li><a href="Ruta.php">Rutas</a></li>
						<li><a href="#">Quienes Somos</a></li>
						<li><a href="#">Contactenos</a></li>
						<li><a href="http://localhost/Atom/BD_Transporte/index.html">Administrador</a></li>
					</ul>
					<ul class="nav navbar-nav navbar-right">
						<li><a href="#" data-toggle="modal" data-target="#register"><span class="glyphicon glyphicon-user"></span> Registrarse</a></li>
						<div class="modal fade" id="register" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
					    	<div class="modal-dialog">
								<div class="loginmodal-container">
									<script type="text/javascript">
											alert('<?php if($resultado){ echo "Se ha registrado un nuevo cliente."; } else { echo "Ha ocurrido un error =(."; } ?>')
									</script>
									<h2 style="text-align: center;">Registro</h2><br>
									<form action="" method="post">
										<input type="text"	name="nombre1" placeholder="Primer Nombre" required>
										<input type="text"	name="nombre2" placeholder="Segundo Nombre">
										<input type="text"	name="apellido1" placeholder="Primer Apellido" required>
										<input type="text"	name="apellido2" placeholder="Segundo Apellido">
										<input type="number"	name="cedula" placeholder="Identificacion" required>
										<input type="number"	name="edad" placeholder="Edad" maxlenght="2" required>
										<input type="number"	name="telefono" placeholder="Telefono" maxlenght="20" required>
										<input type="text"	name="sexo" placeholder="Sexo (H)(M)" required>
										<input type="email"	name="correo" placeholder="Correo" required>
										<input type="password" name="clave" placeholder="Contraseña" maxlenght="24" required>
										<input type="submit" name="enviar" value="Crear">
										<!--<input type="submit" class="btn btn-info" name="login" class="login loginmodal-submit" value="Registrarse">-->
									</form>
								</div>
							</div>
						</div>
						<li><div class="dropdown">
						    <button class="btn btn-default dropdown-toggle glyphicon glyphicon-log-in dropdown" type="button" id="menu1" data-toggle="dropdown"> Ingresar
						    <span class="caret"></span></button>
						    <ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
						    	<form role="form">
								  <div class="form-group">
								    <label for="email">Correo electronico</label>
								    <input type="email" class="form-control" id="email" placeholder="Usuario">
								  </div>
								  <div class="form-group">
								    <label for="pwd">Contraseña</label>
								    <input type="password" class="form-control" id="pwd" placeholder="Contraseña">
								  </div>
								  <button style="margin-top: 10px;" type="submit" class="btn btn-info">Ingresar</button>
								</form>
						    </ul>
						</div></li>

				        </ul>
					</ul>
				</div>
			</div>
		</nav>

		<section class="section-white">
                <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                    <!-- Indicators -->
                    <ol class="carousel-indicators">
                        <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                        <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                        <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                    </ol>

                      <!-- Wrapper for slides -->
                    <div class="carousel-inner">
                        <div class="item active">
                            <img src="img/01.png" alt="...">
                            <div class="carousel-caption">
                                <h2>Heading</h2>
                            </div>
                        </div>
                        <div class="item">
                            <img src="img/02.jpg" alt="...">
                            <div class="carousel-caption">
                                <h2>Heading</h2>
                            </div>
                        </div>
                        <div class="item">
                            <img src="img/03.jpg" alt="...">
                            <div class="carousel-caption">
                                <h2>Heading</h2>
                            </div>
                        </div>
                    </div>

                      <!-- Controls -->
                    <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
                        <span class="glyphicon glyphicon-chevron-left"></span>
                    </a>
                    <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
                        <span class="glyphicon glyphicon-chevron-right"></span>
                    </a>
                </div>
        </section>

        <aside>
        	<div class="col-xs-4 extra">
			   <div class="thumbnail">
			      <img id="img-extra" class="img-circle" src="img/08.jpg" alt="imagen">
			      <div class="caption">
			          <h3>Redes Sociales</h3>
			              <p>Siguenos en Facebok, Twitter, Instagramn y Youtube.</p>
			          <p>
			          <a href="https://www.facebook.com" class="btn btn-primary">Ver</a>
			          </p>
			      </div>
			   </div>
			 </div>

			 <div class="col-xs-4 extra">
			   <div class="thumbnail">
			      <img id="img-extra" class="img-circle" src="img/07.png" alt="imagen">
			      <div class="caption">
			          <h3>Eventos</h3>
			              <p>Acumula tus kilometros y cambia por tiquets de viajes.</p>
			              <div class="row">
				         	 <div class="col-sm-2">
				          		<a href="#" class="btn btn-primary">Ver</a>
				          	 </div>
				         	 <div id="Pag-Error" class="col-sm-10">
				          		Pagina en mantenimiento
				          	</div>
			          </div>
			      </div>
			   </div>
			 </div>

			 <div class="col-xs-4 extra">
			   <div class="thumbnail">
			      <img id="img-extra" class="img-circle" src="img/06.jpg" alt="imagen">
			      <div class="caption">
			          <h3>Ganadores</h3>
			              <p>Premio de merito empresarial 2016 categoria RSE para los participantes.</p>
			          <div class="row">
				          <div class="col-sm-2">
				          <a href="#" class="btn btn-primary">Ver</a>
				          </div>
				          <div id="Pag-Error" class="col-sm-10">
				          	Pagina en mantenimiento
				          </div>
			          </div>
			      </div>
			   </div>
			 </div>
		</aside>
		<footer>
			<p><small>Copyright © 2016 Blog Reacción Estudio – Desarrollo web y mucho más - ¡Trabajo de Base de Datos!.</small></p>
			<p><small>Diseño y desarrollo | Alojamiento web en Womp</small></p>
		</footer>
	</div>




</body>
</html>
