<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>EXPRESS TRICK</title>
    <link rel="stylesheet" href="http://dhbhdrzi4tiry.cloudfront.net/cdn/sites/foundation.min.css">
  </head>

  <body>

    <!-- Start Top Bar -->
    <div class="top-bar">
      <div class="top-bar-left">
        <ul class="menu">
          <li class="menu-text">EXPRESS TRICK</li>
          <li><a href="#">Inicio</a></li>
          <li><a href="#">Rutas</a></li>
          <li><a href="#">Quienes Somos</a></li>
          <li><a href="https://www.facebook.com/">Contactenos</a></li>
        </ul>
      </div>
      <div class="top-bar-right">
        <ul class="menu">
          <li><a href="http://localhost/Template/all-f6-templates/Registrarse.html">Registrarse</a></li>
          <li><a href="http://localhost/Template/all-f6-templates/Login.html">Ingresar</a></li>
        </ul>
      </div>
    </div>
    <!-- End Top Bar -->


    <div class="orbit" role="region" aria-label="Favorite Space Pictures" data-orbit>
      <ul class="orbit-container">
        <button class="orbit-previous" aria-label="previous"><span class="show-for-sr">Previous Slide</span>&#9664;</button>
        <button class="orbit-next" aria-label="next"><span class="show-for-sr">Next Slide</span>&#9654;</button>
        <li class="orbit-slide is-active">
          <img src="imgs/1_converted.png">
        </li>
        <li class="orbit-slide is-active" >
          <img src="imgs/2_converted.png">
        </li>
      </ul>
    </div>

      <img src="imgs/10_converted.png" />
    <div class="row column text-center">
      <h1>Rutas favoritas</h1>
    </div>

    <div class="row small-up-2 large-up-3">
      <div class="column">
        	<iframe src="https://www.google.com/maps/embed?pb=!1m28!1m12!1m3!1d504420.22165249434!2d-76.11597790355833!3d8.992106866409973!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m13!3e6!4m5!1s0x8e599747c0c71f6d%3A0xbb04d543c9c17754!2sLorica%2C+C%C3%B3rdoba%2C+Colombia!3m2!1d9.232040999999999!2d-75.81414099999999!4m5!1s0x8e5a2fe5a57031ad%3A0x92e1cbad2ed7c0a0!2sMonter%C3%ADa+-+C%C3%B3rdoba%2C+Colombia!3m2!1d8.750983!2d-75.8785348!5e0!3m2!1ses-419!2sco!4v1463960447026" width="350" height="400" frameborder="0" style="border:0" allowfullscreen></iframe>
        <h5>Ruta: Lorica - Monteria</h5>
        <h5>Tiempo de viaje: 1 h 9 min</h5>
        <h5>Distancia: 59.2 Km</h5>
        <h5>Precio: $9.000</h5>
        <a href="#" class="button expanded">Comprar Cupo</a>
      </div>
      <div class="column">
        <iframe src="https://www.google.com/maps/embed?pb=!1m28!1m12!1m3!1d63008.83906345409!2d-75.78045145199425!3d9.239608073009302!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m13!3e0!4m5!1s0x8e599747c0c71f6d%3A0xbb04d543c9c17754!2sLorica%2C+C%C3%B3rdoba%2C+Colombia!3m2!1d9.232040999999999!2d-75.81414099999999!4m5!1s0x8e59752bff8bbd29%3A0x1ffebd0c7b6701e0!2zTW9taWwsIEPDs3Jkb2Jh!3m2!1d9.239504!2d-75.6767349!5e0!3m2!1ses-419!2sco!4v1463960661503" width="350" height="400" frameborder="0" style="border:0" allowfullscreen></iframe>
        <h5>Ruta: Lorica - Momil</h5>
        <h5>Tiempo de viaje: 23 min</h5>
        <h5>Distancia: 16.7 Km</h5>
        <h5>Precio: $6.000</h5>
        <a href="#" class="button expanded">Comprar Cupo</a>
      </div>
      <div class="column">
        <iframe src="https://www.google.com/maps/embed?pb=!1m28!1m12!1m3!1d252001.78111649363!2d-76.11621090572895!3d9.286410825772867!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m13!3e0!4m5!1s0x8e599747c0c71f6d%3A0xbb04d543c9c17754!2sLorica%2C+C%C3%B3rdoba%2C+Colombia!3m2!1d9.232040999999999!2d-75.81414099999999!4m5!1s0x8e59eaf5ebacd831%3A0x690785715f877ef6!2sMonitos+-+C%C3%B3rdoba%2C+Colombia!3m2!1d9.246772!2d-76.13078399999999!5e0!3m2!1ses-419!2sco!4v1463960741458" width="350" height="400" frameborder="0" style="border:0" allowfullscreen></iframe>
        <h5>Ruta: Lorica - Moñito</h5>
        <h5>Tiempo de viaje: 1 h 2 min</h5>
        <h5>Distancia: 51.5 Km</h5>
        <h5>Precio: $8.000</h5>
        <a href="#" class="button expanded">Comprar Cupo</a>
      </div>
    </div>




    <div class="callout large secondary">
      <div class="row">
        <div class="large-6 columns">
          <h5>Nuestra Misión</h5>
          <p>Unimos a nuestros clientes con sus sueños de manera segura, cómoda y oportuna a través de servicios innovadores de transporte, para satisfacer sus necesidades y expectativas, generando desarrollo y bienestar en el recurso humano, afiliados y accionistas.</p>
        </div>
        <div class="large-6 columns">
          <h5>Nuestra Visión</h5>
          <p>Lograr en nuestros clientes experiencias placenteras de viaje siendo líderes en cobertura y cumplimiento en el servicio de transporte de pasajeros, así como en el crecimiento de negocios conexos, garantizando el desarrollo sostenible de la organización.</p>
        </div>
      </div>

    </div>
<div class="row column text-center">
  <footer>
    <p><small>Copyright © 2016 Blog Reacción Estudio – Desarrollo web y mucho más - ¡Trabajo de Base de Datos!.</small></p>
    <p><small>Diseño y desarrollo | Alojamiento web en Womp</small></p>
</footer>
  <a href="http://127.0.0.1:8000/">Administrador</a>
</div>


    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <script src="http://dhbhdrzi4tiry.cloudfront.net/cdn/sites/foundation.js"></script>
    <script>
      $(document).foundation();
    </script>
  </body>
</html>
