<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>EXPRESS TRICK<</title>
  <link rel="stylesheet" href="css/foundation.css">
  <link rel="stylesheet" href="css/app.css">
  <link rel="stylesheet" href="http://dhbhdrzi4tiry.cloudfront.net/cdn/sites/foundation.min.css">
  <style type="text/css">
  body{background-image:url("imgs/2_converted.png")}
  </style>
</head>

  <body>
    <div>
      <div class="medium-6 medium-centered large-4 large-centered columns">
          <form >
          <div class="column log-in-form">
            <h3 class="text-center">Correo y Contraseña</h3>
            <label>Correo
              <input type="text" placeholder="Ejemplo@Ejemplo.com">
            </label>
            <label>Contraseña
              <input type="text" placeholder="Contraseña">
            </label>
            <input id="show-password" type="checkbox"><label for="show-password">Mostrar Contraseña</label>
            <div>
              <div class="large-6 columns">
                  <p><a type="submit" class="button expanded">Ingresar</a></p>
              </div>
              <div class="large-6 columns">
                  <p><a href="http://localhost/Template/all-f6-templates/Inicio.html" type="submit" class="button expanded">Pagina de Inicio</a></p>
              </div>
            </div>

            <p class="text-center"><a href="#">¿Olvidaste tu Contraseña?</a></p>
          </div>
        </form>
        </div>
      </div>
  </body>
</html>
